@import url(./reset.css);

* {
    --black-1: #D8D7D7;
    --black-2: #A6A5A4;
    --black-3: #3C3D3E;
    --black-4: #0C0D0D;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    background-color: var(--black-3);
}

main {
    padding: 35px 36px;
    width: 1440px;
    height: 560px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    gap: 32px;
}

.battleground {
    border-radius: 8px;
    
    border: 3px solid var(--black-4);
    overflow: hidden;
    width: 840px;
    height: 490px;
    display: grid;
    grid-template-rows: repeat(7, 1fr);
    grid-template-columns: repeat(12, 1fr);
    cursor: pointer;
}

.battleground__cell:hover {
    background-color: rgb(65, 65, 65);
}

.battleground__cell {
    background-color: var(--black-1);
    box-sizing: border-box;
    width: 70px;
    height: 70px;
}

.battleground__cell>div {
    width: 100%;
    height: 100%;
}

.battleground__cell img {
    width: 70px;
    height: 70px;
}

.supply-source {
    border: 3px solid var(--black-4);
    border-radius: 8px;
    box-sizing: border-box;
    width: 496px;
    height: 238px;
    position: relative;
    background: url(./img/supply_source_area.png);
    background-color: var(--black-4);
}

#supply-source_command-center {
    width: 114px;
    height: 102px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 72px;
    left: 152px;
}

#supply-source_command-center img:hover {
    border: 3px solid var(--black-1);
}

.supply-source__command-center {
    width: 120px;
    height: 120px;
}

.towers {
    display: grid;
    gap: 8px;
    grid-template-areas:
        'singleShot doubleShot wall'
        'rangeShot laserShot slow';
    margin-top: 32px;
}

.singleShot {
    grid-area: singleShot;
}

.doubleShot {
    grid-area: doubleShot;
}

.wall {
    grid-area: wall;
}

.rangeShot {
    grid-area: rangeShot;
}

.laserShot {
    grid-area: laserShot;
}

.slow {
    grid-area: slow;
}

.tower {
    border: 3px solid var(--black-4);
    box-sizing: border-box;
    width: 160px;
    height: 106px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    overflow: hidden;
    background-color: var(--black-1);
    position: relative;
    border-radius: 8px;
}

.tower>img {
    width: 100%;
    height: 100%;
    position: absolute;
    transition: 0.5s all;
}

.tower.click>img {
    transform: translateX(-100%);
}

.tower__description {
    width: 100%;
    padding: 16px;
    font-size: 12px;
    font-weight: 700;
    color: var(--black-4);
}