@import url(./reset.css);

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    background-color: black;
}

main {
    padding: 35px 36px;
    width: 1440px;
    height: 560px;
    margin: 0 auto;
    display: flex;
    gap: 32px;
}

.battleground {
    box-sizing: border-box;
    border-radius: 8px;
    overflow: hidden;
    width: 840px;
    height: 490px;
    display: grid;
    grid-template-rows: repeat(7, 1fr);
    grid-template-columns: repeat(12, 1fr);
    background-color: black;
    cursor: pointer;
}

.battleground__cell:hover {
    background-color: rgb(65, 65, 65);
}

.battleground__cell {
    background-color: white;
    box-sizing: border-box;
}

.battleground__cell>div {
    width: 100%;
    height: 100%;
}

.battleground__cell img {
    width: 70px;
    height: 70px;
}

.supply-source {
    grid-area: supply-source;
    width: 496px;
    height: 238px;
    position: relative;
    background: url(./img/supply_source_area.png);
}

#supply-source_command-center {
    width: 114px;
    height: 102px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 72px;
    left: 152px;
}

#supply-source_command-center img:hover {
    border: 3px solid white;
}

.supply-source__mineral:nth-of-type(1) {
    position: absolute;
    top: 32px;
    left: 104px;
}

.supply-source__mineral:nth-of-type(2) {
    position: absolute;
    top: 60px;
    left: 72px;
}

.supply-source__mineral:nth-of-type(3) {
    position: absolute;
    top: 100px;
    left: 72px;
}

.supply-source__mineral:nth-of-type(4) {
    position: absolute;
    top: 136px;
    left: 72px;
}

.supply-source__mineral:nth-of-type(5) {
    position: absolute;
    top: 172px;
    left: 72px;
}

.supply-source__mineral:nth-of-type(6) {
    position: absolute;
    top: 208px;
    left: 104px;
}

.supply-source__command-center {
    width: 120px;
    height: 120px;
}

.supply-source__gas {
    position: absolute;
}

.supply-source__gas:nth-of-type(8) {
    top: 48px;
    right: 104px;
}

.supply-source__gas:nth-of-type(9) {
    top: 128px;
    right: 80px;
}

.supply-source__gas:nth-of-type(10) {
    top: 208px;
    right: 104px;
}

.worker {
    transition: all 0.5s;
}

.workman {
    grid-area: workman;
    width: 144px;
    height: 103px;
}


.resource {
    grid-area: resource;
    width: 144px;
    height: 103px;
    display: flex;
}

.resource>div {
    width: 50%;
}

.resource-reserves>div:nth-of-type(1),
.resource-reserves>div:nth-of-type(2) {
    height: 50%;
}

.towers {
    display: grid;
    gap: 32px;
    grid-template-areas:
        'singleShot doubleShot wall'
        'rangeShot laserShot slow';
    margin-top: 32px;
}

.singleShot {
    grid-area: singleShot;
}

.doubleShot {
    grid-area: doubleShot;
}

.wall {
    grid-area: wall;
}

.rangeShot {
    grid-area: rangeShot;
}

.laserShot {
    grid-area: laserShot;
}

.slow {
    grid-area: slow;
}

.tower {
    box-sizing: border-box;
    width: 144px;
    height: 93px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    overflow: hidden;
    background-color: black;
    position: relative;
    border-radius: 8px;
}

.tower>img {
    width: 100%;
    height: 100%;
    position: absolute;
    transition: 0.3s all;
}

.tower.click>img {
    transform: translateX(-90%);
}

.tower__description {
    width: 100%;
    padding: 16px;
    font-size: 12px;
    background-color: black;
    color: white;
}